<div>
  <p-select [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" optionValue="code"
            placeholder="Select a Language" (onChange)="handleChange()"/>

  <p-tabs [value]="0">
    <p-tablist>
      @for (tab of tabs; track tab.value) {
      <p-tab [value]="tab.value">{{ tab.title }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (tab of tabs; track tab.value) {
      <p-tabpanel [value]="tab.value">
          <p class="m-0">{{ tab.content }}</p>
                </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
